@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');



*{
    margin: 0;
    padding: 0;
}

.bg{
     background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/images4.jpg);
     width:100%;
     height: 50%;
     background-size: cover;
     box-sizing: border-box;
     background-position: center;
}

h1{
     
     font-size:50px;
}
p{
     font-size:20px;
     line-height: 20px;
     float:center;

}
.title1{
     
     color: white;
     margin:10px;
     padding: 200px 200px 200px 200px;
    text-align: center;
}
.title1 p{
     font-family: Arial, Helvetica, sans-serif;
}

.form{
     max-width:700px;
    height: 700px;
    border:2px solid black;
    background-color: white;
     padding: 30px;
     margin:20px auto;

    
}

.form-text{
  text-align: center;
  margin: 40px 0;
}
 
.main-form div{ 
     margin: 10px 50px;
     width: 200px;
     display:inline-block;
     padding:10px ;
     text-align: center;
     
}
.main-form div input{ 
     width: 150%;
     height: 30px;
     font-family: cursive;
     background-image: radial-gradient(rgb(244, 244, 248),rgb(12, 77, 73));

     border: 1px solid rgb(41, 40, 1);
     font-size: small;
     color: rgb(250, 245, 255);
     outline: black;
     font-weight: 100;
     text-align: center;
}
.main-form div select{ 
     width: 150%;
     height: 30px;
     font-family: 'Akaya Telivigala', cursive;
     background-image: radial-gradient(rgb(227, 226, 235),rgb(6, 83, 80));
     border: 1px solid  rgb(41, 40, 1); 
     font-size: small;
     color: rgb(250, 247, 252);
     text-align: center;
}
.form1{
     border:2px solid black;
     max-width: 500px;
     width:100%;
     background-color: white;
     padding: 30px;
     margin: 20px auto;

}
.title{
     text-align: center;
     color:rgb(4, 66, 75);
     margin-bottom: 50px;
     font-weight: 700;
     font-size: 30px;
}




#submit{
     width: 100px;
     min-height: 30px;
     text-align: center;
     
}
#submit input{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-transform: capitalize;
     font-size: small;
     background-image: radial-gradient(rgb(11, 204, 95),rgb(3, 85, 41));
}


.city{
     
     color: black;
     padding:10px;
     margin-left: 10px;
     position: relative;

     }
     .city a{
          text-decoration: none;
          float: right;
          color: white;
          font-size: 14PX;
          padding: 10px;
          text-align: end;
          display: block;
     }
section .image{
     border-radius: 50%;
}
.section2{
     color: rgb(12, 2, 26);
     padding:10px ;
     font-size: medium;
     font-style: normal;
}
.my-button{
     width: 150px;
     height: 50px;
     font-size: 20px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background-color: rgb(222, 236, 25);
     color: aliceblue;
     box-shadow: 2px 2px gray;
     display: inline-block;
     
}
.my-button-2{
     width: 150px;
     height: 50px;
     font-size: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: blue;
     color: aliceblue;
     box-shadow: 2px 2px gray;
     display: inline-block;
     
     
}
.my-button-3{
     width: 150px;
     height: 50px;
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: rgb(7, 75, 33);
     color: aliceblue;
     box-shadow: 2px 2px gray;
     display: inline-block;
     
}
.button1{
     display:flex;
}
.button-gp button{
     float: center;
     background-color: blue;
     border: 2px solid goldenrod;
     padding: 15px 25px;
     color: aliceblue;
     cursor: pointer;
} 


.button-gp::after {
     content: "";
     clear: both;
     display: table;
}

.button-gp button:not(:last-child){
     border-right:none ;
}

button{
     width: 200px;
     padding: 13px 0;
     text-align: center;
     margin: 20px 10px;
     border-radius: 50px;
     font-weight: bold;
     border: 2px solid #009688;
     background: transparent;
     color: #ffff;
     cursor: pointer;
     position: relative;
     overflow: hidden;
     background: #009688;
     transition: 0.5s;
}



     

button:hover{
     border: #071615;
}
.city{
     
     color: black;
     padding:10px;
     margin-left: 10px;
     position: relative;
     padding-bottom: 70px;
     

     }
